.box {
    flex-grow: 1;
  }
  
  
  .appBar {
    width: 100%;
    position: fixed; /* or 'sticky' */
    top: 0; 
    background-color: white;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .iconButton {
    margin-right: 2rem;
  }
  
  .menuIcon {
    font-size: 2.5rem;
  }
  
  .typography {
    flex-grow: 1;
    text-align: center;
  }
  

  
  .logo {
    width: 150px;
    height: auto;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;
}
  
  @media (min-width: 768px) {
    .adbIcon {
      display: flex;
    }
  }